@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 100%;
  background-color: #003049;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 300px;
  width: 500px;
  background-color: aliceblue;
  margin-top: 150px;
  border: none;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 16px;
}

h1{
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    color: #3f3d3d;
    font-size: 26px;
}



#quote {
    width: 80%;
  padding-left: 13px;
  font-weight: bold;
  color: #312e2e;
    font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-style: italic;
}



#author {
  align-self: flex-end;
  padding-right: 10px;
  font-weight: bold;
  font-size: 12px;
  color: #5c5757;
    font-family: "Playwrite HU", cursive;
}

button {
  height: 30px;
  width: 90px;
  border: none;
  background-color: hsla(0, 95%, 26%, 0.788);

  border-radius: 5px;
  color: white;
  font-weight:bold;
  padding: 5px;
  cursor: pointer;
  transition: all 0.1s;
}

button:hover{
    
  background-color: #780000e8;



}
@media (max-width:768px) {
    .container{
        margin-top: 20px;
        width: 70%;
    }
    h1{
        font-size: 20px;
    }
}
